
/* main-center-title
    Created on : Dec 8, 2015, 10:10:25 AM
    Author     : jomon
*/

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/goog/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/goog/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(../fonts/goog/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/goog/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
*{
    outline: none;

}

/*-------------------------------------------------------------------
    tb preloader
-------------------------------------------------------------------*/
#tb-preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: #fff;
}
.tb-preloader-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}
.tb-preloader-wave:before,
.tb-preloader-wave:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #222;
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
}
.tb-preloader-wave:after {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}

@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}


.nor-anim{
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
body{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none !important;
}

.nav-main{
    width: 100%;
    display: block;
    position: relative;
    height: 55px;
    background: rgba(34,34,34,.4);
    position: fixed;
    z-index: 1000;
}

.main-menu{
    width: auto;
    display: inline-block;
    float: left;
    position: relative;    
    margin-left: 100px;

}

.main-menu ul{
    display: block;
    position: relative;
    float: left;
    margin-top: 15px;
}
.main-menu ul li{
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;

}
.main-menu ul li a{
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;

}
.main-menu ul li a:hover{
    text-decoration: none;
    color: #fff;

}
.main-menu ul li .sub-menu{
    width: 500px;
    display: none;  
    position: absolute;
    padding: 0px;
    float: left
        -webkit-box-shadow: rgba(0,0,0,.2) 0 0 25px;
    box-shadow: rgba(0,0,0,.2) 0 0 25px;
    background: #f7f7f7;
    padding: 10px 30px;

}
.main-menu ul li:hover .sub-menu{
    display: block; 
}


.sub-menu ul{
    width:auto;
    padding: 15px 0px;
    margin: 0px;
    position: relative;   
    display: block;
    float: left;
}

.sub-menu ul li{
    display:block;
    margin: 0px;
    float: left;
    width: 200px;
    margin: 6px

}
.sub-menu ul li a{
    color: #222;
    font-weight: bolder;
    font-size: 12px;
    text-transform: capitalize;
}

.sub-menu ul li a span{
    width: 100%;
    float: left;
    text-transform:none;
    margin-top: 5px;
    font-weight: normal;
    color: #5A5A5A !important;
    display: block;
}
.sub-menu ul li a:hover{
    color: #FF4F4F;
}

.sub-menu ul li:last-child{
    padding-bottom: 15px ;
}


/*header typee 2*/ 

#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
#topnav .logo {
    float: left;
    padding: 16px 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 180px;
}
#topnav .logo img {
    max-height: 33px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#topnav .logo .logo-light {
    display: block;
}
#topnav .logo .logo-dark {
    display: none;
}
#topnav.scroll .logo .logo-dark {
    display: block;
}
#topnav .navigation-menu {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#topnav .navigation-menu>li {
    float: left;
    display: block;
    position: relative;
}
#topnav .navigation-menu>li>a {
    display: block;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
#topnav .navigation-menu>li.has-submenu>a:after {
    content: "\e64b";
    font-family: "themify";
    margin-left: 8px;
}

#topnav .navigation-menu>li .submenu li a:hover {
    color: #428bca;
}
#topnav.scroll .logo .logo-light {
    display: none;
}
#topnav .navigation-menu>li .submenu li a i {
    margin-right: 5px;
}
/*header 2 ends*/


.page-main{
    width: 100%;
    position: relative;
    display: block;
    height: auto;
    min-height: 100vh;
}
.page-section{
    width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;

}
.homescreen{
    padding-top: 70px;

}
.screen-height{

}
.main-center-title{
    width: 100%;
    position: relative;
    display: block;
    text-align: left;       
}
.main-center-title h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 54px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;

}
.main-center-title .sub-title{
    color: #ffffff;
    font-size: 18px;
    position: relative;
}
body .margin-top-30{
    margin-top: 35vh;

}
.margin-top-30px{
    margin-top: 30px;
}
body .margin-bottom-30{
    margin-bottom: 30vh;
}
.bkg1{
    background: url(../asset/cover1.jpg);
    background-size: cover;
    background-attachment: fixed ;
}
.bkg2{
    background: url(../asset/team/team.jpg);
    background-size: cover;
    background-attachment: scroll ;
}
.btn-subscribe{
    width: auto;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    letter-spacing: 3px;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 0.8);;
    padding: 10px 25px 10px 25px;   
}
.btn-subscribe:hover ,.btn-subscribe:active{
    color: #ffffff;
    border-color: #ffffff;
}
.clickmetodown{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 20px
}
.clickmetodown .click_todown_btn{
    width: 60px;
    height: 33px;
    display: block;
    margin: 10px auto;
    background: url(../images/down-arrow-sprite.png);
    cursor: pointer;
    background-size: 200%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.section{
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    min-height: 50px;
    padding: 20px 0 20px 0;
}
.section-title{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;

    text-rendering: geometricPrecision;
}
.section-title h1{
    font-weight: 200;
    font-size: 44px;
}

.section-body{
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bkgwhite1{
    background-color: #f7f7f7;
    color: #222;
}
.bkgwhite2{
    background-color: #ffffff;
    color: #222;
}
.text-cl-bl *{
    color: #6F6F6F;
}

.grid-section{
    width: 100%;
    float: left;
    display: block;
    position: relative;
    -webkit-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 3px;
    z-index: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;

}
.grid-section.zoom1:hover{
    transform: scale(1.06);
    z-index: 100;
    -webkit-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px;

}
.grid-section.zoom1:hover *{
    color:#fff;
}
.grid-section.zoom2:hover{
    transform: scale(1.23);
    z-index: 100;
    -webkit-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px;
}
.grid-section.zoom3:hover{
    transform: scale(1.23);
    z-index: 100;
    -webkit-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px;
}
.grid-section.zoom4:hover{
    transform: scale(1.23);
    z-index: 100;
    -webkit-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px;
}
.grid-section.zoom5:hover{
    transform: scale(1.23);
    z-index: 100;
    -webkit-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px;
}
.grid-section.zoom6:hover{
    transform: scale(1.23);
    z-index: 100;
    -webkit-box-shadow:     rgba(0,0,0,0.5) 0px 0px 3px;
    -moz-box-shadow:      rgba(0,0,0,0.5) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px;
}
.grid-section .grid_back_image{
    width: 100%;
    max-width: 100%;
    display: block;
}
.grid-section .grid-inner{
    width: 100%;
    float: left;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    height: 100%;
    bottom: 0px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    cursor: pointer;
}

.grid-section .grid-inner .grid-text{
    width: 100%;
    float: left;
    display: block;
    position: absolute;
    bottom: 10px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.grid-section:hover .grid-inner{
    background: rgba(0, 0, 0, 0.6);
}

.grid_main .col-lg-4 ,.grid_main .col-lg-6 ,.grid_main .col-lg-3 ,.grid_main .col-lg-5{
    padding-right: 5px;
    padding-left: 5px;
    margin-top:  5px;
    margin-bottom: 5px;
}

.grid-text .grid-title{
    width: 100%;
    float: left;
    display: block;
    color: #fff;
    padding: 0px 15px 0 15px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}
.grid-text .grid-title h3{
    font-size: 40px;
    text-align: left;
    letter-spacing: 2px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}
.grid-text .grid-title h5{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}


.grid-text .grid-content{
    width: 100%;
    float: left;
    display: block;
    color: #fff;
    padding: 0px 15px 0 15px;
    opacity: 0;
    height: 0px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.grid-text .grid-content p{
    font-size: 15px;
    display: inline-block;

}
.zoom2 .grid-text .grid-title h3{
    font-size: 20px;
}

.zoom2 .grid-text .grid-content p{
    display: block;
    font-size: 11px;
}
.zoom1 .grid-title h3{
    text-transform: uppercase;
    font-size: 30px;
}
.zoom1:hover .grid-text{ 
    bottom: 50%;
}
.zoom1 .grid-text .grid-content p{
    font-size: 16px;
    line-height: 1.5;
}
.grid-section:hover .grid-text .grid-content{
    opacity: 1;
}
.zoom2 .grid-text .grid-title h3{
    text-transform: uppercase;
    font-size: 18px;
}
.zoom2:hover .grid-text{ 
    bottom: 70%;
}
.zoom2:hover *{
    color: #fff;
}
.zoom2 .grid-text .grid-content p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
.zoom3 .grid-text .grid-title h3{
    font-size: 16px;
    text-transform: uppercase;
}
.zoom3:hover .grid-text{ 
    bottom: 60%;
}
.zoom3 .grid-text .grid-content p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
.zoom4:hover *{
    color: #fff;
}
.zoom4:hover .grid-text{ 
    bottom: 50%;   
}
.zoom4 .grid-text .grid-title h3{
    font-size: 16px;
    text-transform: uppercase;
}
.zoom4 .grid-text .grid-content p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
.zoom5:hover *{
    color: #fff;
}
.zoom5:hover .grid-text{ 
    bottom: 60%;   
}
.zoom5 .grid-text .grid-title h3{
    font-size: 16px;
    text-transform: uppercase;
}
.zoom5 .grid-text .grid-content p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
.zoom6:hover *{
    color: #fff;
}
.zoom6:hover .grid-text{ 
    bottom: 40%;   
}
.zoom6 .grid-text .grid-title h3{
    font-size: 16px;
    text-transform: uppercase;
}
.nor-content ,.nor-content .nor-title ,.nor-content .nor-desc{
    width: 100%;
    float: left;display: block;
    position: relative;
}

.nor-content .nor-title{
    color: rgb(62, 62, 62);

}
.nor-content .nor-title h3{
    color: rgb(62, 62, 62);
    font-size: 30px;
    font-weight: 300;
}

.nor-content .nor-desc p{
    color:rgb(169, 169, 169);
    font-size:16px;
}
.nor-content .nor-img{
    max-width: 100%;
    display: block;
}
.full_container{
    width: 100%;
    float: left;
    display: block;
    height: 100%;
    position: relative;
}
.blk-overlay:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: " ";
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.11);
}
.section-center-title{
    width: 100%;
    position: relative;
    display: block;
    text-align: left;  
    z-index: 10;
}
.section-center-title h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 64px;
    color: #fff;
    position: relative;

}
.section-center-title .sub-title{
    color: #ffffff;
    font-size: 18px;
    position: relative;
}
.play-btn{

    display: block;
    position: absolute;
    z-index: 11;
    display: block;
    z-index: 11;
    float: left;
    height: 70px;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.play-btn span{
    cursor: pointer;
    display:block;
    margin: 10px auto;
    background: url(../images/video-player-2x.png);
    width: 67px;
    height: 67px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.video-player{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1050;
    background:rgba(0, 0, 0, 0.95);
    display: none;   
    padding-top: 20px;
    padding-bottom: 20px;
}

.video-player video{
    width: 100%;
    height: 100%;
}
.playing_video{

    max-height: 100%;
    overflow: hidden;
}
.close-the-video{
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    z-index: 1051;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    background: url(../images/close-btn-blk.png)  no-repeat;
    background-position: center;
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0.70);
    image-rendering: -webkit-optimize-contrast;
}

.bkg_01-type1{
    background-image: url(../asset/process-flow.jpg);
    background-position: 50% -79px;
    background-attachment:fixed;
}
.bkg_01-type1:after{
    width: 100%;
    height: auto;
    float:left;
    display: block;
    position: absolute;
    content: " ";
    background:rgba(0, 0, 0, 0.85098);
    top: 0px;
    left:0px;
    bottom: 0px;;
    right: 0px;
    z-index: 1;
}

.missin .heading-effect {
    position: relative;
    z-index: 2;
    top: 0px;
    display: block;
    height: 70px;
    width: 176px;
    margin: 0 auto;
    border-bottom: 2px dashed rgba(0,0,0,.2);
    border-bottom-color: rgba(255,255,255,.35);

}
.missin .heading-effect:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    border-right: 2px dashed rgba(0,0,0,.2);
    bottom: 0;
    margin-left: 88px;
    border-right-color: rgba(255,255,255,.35);
}
.missin{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;

}
.text-white{
    color: #fff;
}
.process-flow-nav{
    margin: 0 0 50px;
    padding: 0;
    text-align: center;
}
.process-flow-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 45px 0 45px;
}
.process-flow-nav li a {
    display: inline-block;
    color: inherit;
}
.process-flow-nav>li>a>i {
    display: block;
    width: 145px;
    height: 145px;
    font-size: 2.571em;
    border: 2px solid #DDD;
    border-radius: 50px;
    transition: all .15s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 35px;
    position: relative;
    z-index: 10;
    color: #DDD;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.process-flow-nav li a i:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}
.process-flow-nav li a i:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: #FFF;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -20px;
    bottom: -10px;
}

.process-flow-nav li a span{
    color: #ddd;
    text-transform: uppercase;
    font-size: 15px; 
    letter-spacing: 2px;
}
.process-flow-nav li.active{

}
.process-flow-nav li.active a i{

}
.process-flow-nav li.active a i, .process-flow-nav>li>a>i:hover {
    background: #428bca;
    background-image: url(../images/iconalt.svg);
    background-position: center center;
    background-size: 100% 100%;
    color: #FFF;
}
.process-flow-nav li a i.last-child:after {
    display: none;
}
.missin .flow-title {
    display: inline-block;
    text-align: center;
    font-size: 1.285em;
    font-weight: 700;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto; 
    color: #ddd;
    border-bottom: 2px solid #428bca;
    padding-bottom: 7px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.missin .flow-content{
    color: #ddd;
    font-size: 1.142em;
    line-height: 1.5em;
    letter-spacing: 2px;

}

.menu-on-about{
    width: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    display: none;
    background: rgba(66, 139, 202, 0.82);
    z-index: 9;
}
.cd-primary-nav-trigger {
    position: absolute;
    cursor: pointer;
    left: 0px;
    right: 0px;
    background-color: #428bca !important;
    width: 70px;
    height: 70px;
    display: block;
    margin-top: 40px;
    z-index: 10;
    margin: auto;
}
.cd-primary-nav-trigger .cd-menu-text {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
    top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
    top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.cd-primary-nav {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    list-style: none;
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.cd-primary-nav {

    padding: 150px 0 0 0;
}
.cd-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.cd-primary-nav li {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: capitalize;
}
.cd-primary-nav li {
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.cd-primary-nav a {
    display: inline-block;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    text-transform: uppercase;
}
.cd-primary-nav a, .cd-primary-nav .cd-label {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
.cd-primary-nav .menu-bottom-paragraph {
    color: #1bbc9b;
    display: none;
    font-size: 18px;
}
/*animate css*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}


#footer {
    width: 100%;
    background-color: #f5f5f5;
    z-index: 10;
    float: left;
}
#footer .footer-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #e7e7e7;

}
#footer p {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}
#footer .copy-text p {
    margin: 15px 0;
}

#footer .footer-social {
    text-align: right;
}
#footer .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-social ul > li {
    display: inline-block;
    margin: 10px 5px;
}
#footer .footer-social ul > li > a {
    display: block;
    width: 35px;
    height: 40px;
    line-height: 40px;
    color: #79818a;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
}
#footer .footer-social ul > li > a:hover {
    color: #428bca;
}
#footer .footer-social.center {
    text-align: center;
}
#footer .list-inline {
    text-align: center;
    margin: 0;
    padding: 15px 0;
}
#footer .list-inline > li {
    margin-right: 15px;
    position: relative;
}
#footer .list-inline > li:after {
    content: '·';
    color: #EF2D56;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: -15px;
    height: 10px;
    line-height: 10px;
    margin-top: -5px;
    font-family: sans-serif;
}
#footer .list-inline > li:last-child {
    margin-right: 0;
}
#footer .list-inline > li:last-child:after {
    content: none;
}
#footer .list-inline > li > a {
    color: #79818a;
    font-size: 15px;
}
#footer .list-inline > li > a:hover {
    color: #EF2D56;
}
.footer-newsletter .form-control {
    border-color: #494e53;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.menu-extras {
    float: right;
}
.menu-extras .menu-item {
    float: left;
    border-right: 1px solid transparent;
}
.menu-extras .menu-item {
    float: left;
    border-right: 1px solid transparent;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#topnav .navbar-toggle {
    border: 0;
    position: relative;
    width: 60px;
    height: 62px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 24px auto;
    height: 18px;
}

#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
#topnav .navbar-toggle.open span {
    position: absolute;
    background: #191b1d;
}
#topnav.scroll .navbar-toggle span {
    background-color: #191b1d;
}
#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}
#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


@media (min-width: 992px){
    #topnav #navigation {
        display: block!important;
    }
    #topnav.scroll {
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    #topnav .navigation-menu>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #topnav.scroll .navigation-menu>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #topnav.scroll .navigation-menu>li>a {
        color: #191b1d;
    }
    #topnav .navigation-menu>li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        border: 1px solid #e7e7e7;
        padding: 15px 0;
        list-style: none;
        min-width: 200px;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #fff;
    }
    #topnav .navigation-menu>li .submenu.megamenu {
        white-space: nowrap;
        width: auto;
    }
    #topnav .navigation-menu>li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        border: 1px solid #e7e7e7;
        padding: 15px 0;
        list-style: none;
        min-width: 200px;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #fff;
    }
    #topnav .navigation-menu>li .submenu li {
        position: relative;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li {
        overflow: hidden;
        width: 200px;
        display: inline-block;
        vertical-align: top;
    }
    #topnav .navigation-menu>li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    #topnav .navigation-menu>li .submenu li {
        position: relative;
    }
    #topnav .navigation-menu>li .submenu li span {
        display: block;
        padding: 8px 25px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: #949ba1;
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        padding: 8px 25px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: #494e53;
    }

}
@media (min-width: 768px){
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 1px;
    }
}
@media (max-width: 991px){
    .navbar-toggle {
        display: block;
    }
    #topnav {
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    #topnav .logo {
        padding: 11px 0;
    }
    #navigation {
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background-color: #fff;
    }
    #topnav .navigation-menu {
        float: none;
        max-height: 400px;
    }
    #topnav .navigation-menu > li {
        float: none;
    }
    #topnav .navigation-menu > li > a {
        color: #191b1d;
        padding: 15px;
        font-size: 13px;
    }
    #topnav .navigation-menu > li > a:after {
        position: absolute;
        right: 25px;
    }
    #topnav .navigation-menu > li .submenu > li > ul {
        list-style: none;
        padding-left: 0;
    }
    #topnav .navigation-menu > li .submenu li ul li:first-child {
        display: none;
    }
    #topnav .navigation-menu > li .submenu li a {
        display: block;
        position: relative;
        padding: 15px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: #191b1d;
    }
    .navigation-menu > li.has-submenu.open > a {
        color: #428bca !important;
    }
    #topnav .navigation-menu > li .submenu.open {
        display: block;
    }
    #topnav .navigation-menu > li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
    #topnav .logo .logo-light {
        display: none;
    }
    #topnav .logo .logo-dark {
        display: block;
    }
    #topnav .logo {
        padding: 11px 0;
        margin-right: 10px;
    }
    #topnav .menu-extras .menu-item {
        border-left:1px solid #eee;
    }
    #topnav .navbar-toggle span {
        background-color: #428bca;
    }

}
@media (max-device-width: 480px){
    .main-center-title h1{
        font-size: 28px;
        padding-top: 70px;
    }
    .main-center-title .sub-title{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .main-center-title .btn-subscribe{
        margin-top: 2px;
    }
    .clickmetodown{
        bottom: 5px;
        display: none;
    }
    .process-flow-nav {

        padding: 0;
        text-align: center;
        display: block;
        width: 100%;
        float: left;
        margin: 0 0 30px;
    }
    .process-flow-nav>li>a>i {
        width: 50px;
        height: 50px;
        border-radius: 16px;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .process-flow-nav li {
        /*margin: 12px 0px 2px 45px;*/
        margin: 0px;
        width: 25%;
        float: left;
        margin-top: 15px;
    }
    .process-flow-nav li a i:after{
        display: none;
    }
    .process-flow-nav li:nth-child(2n+1){
        margin-left: 0px;
    }
    .section-title{
        margin-top: 60px;
        margin-bottom: 15px;
    }
    #sec2{
        height: auto !important;
    }
    #sec2 .missin{
        position: relative;
        margin: 0px;
    }
    .missin .section-body{
        margin-top: 25px;
    }
    .missin .section-body .container{
        margin: 0px;
        padding: 0px;
    }
    .missin .section-body .col-lg-10 {
        padding: 0px;
    }
    .missin .flow-content{
        min-height: 160px;
    }
    #sec1.bkg1 {
        background-attachment:initial;
        background-position: right;
    }
    #sec2.bkg_01-type1{
        background-attachment:initial;
    }
    .grid-section{
        margin-top: 15px;
    }
    #sec5.bkg2{
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: center;
    }
    #footer .footer-wrap{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #footer .copy-text p{
        text-align: center;
    }
    #footer .footer-social {
        text-align: center;
    }
    .cd-primary-nav {
        padding: 105px 0 0 0;
    }
    .cd-primary-nav a, .cd-primary-nav .cd-label{
        font-size: 18px;
    }
}
@media (min-device-width: 481px) and (max-width: 768px) {
    .main-center-title h1{
        font-size: 80px;
        padding-top: 120px;
    }
    .main-center-title .sub-title{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .main-center-title .btn-subscribe{
        margin-top: 15px;
    }
    .clickmetodown{
        bottom: 15px;
        display: block;
    }
    #sec1.bkg1 {
        background-attachment:initial;
        background-position: right;
    }
    .process-flow-nav {

        padding: 0;
        text-align: center;
        display: block;
        width: 100%;
        float: left;
        margin: 0 0 30px;
    }
    .process-flow-nav>li>a>i {
        width: 100px;
        height: 100px;
        border-radius: 35px;
        font-size: 35px;
        margin-bottom: 15px;
    }
    .process-flow-nav li {
        /*margin: 12px 0px 2px 45px;*/
        margin: 0px;
        width: 25%;
        float: left;
        margin-top: 15px;
    }
    .grid-section{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #sec5.bkg2{
        background-size: 132%;
        background-repeat: no-repeat;
        background-position: 38% center;
    }

}

.upr-case{
    text-transform: uppercase;
}
